.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background:#00003f;
  font-size: 17px;
  font-family: 'Arial';

}

.App-link {
  color: #09d3ac;
}

.App-search{
  width: 500px;
  vertical-align: middle;
  white-space: nowrap; /* suprime espacios en blanco y igual que normal */
  position: relative;
  font-size: 17px ;
  
}


.App-buscar {
  text-decoration: none;
    padding: 3px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.App-buscar:hover{
  color: #1883ba;
  background-color: #ffffff;
  cursor: pointer;
}